/* -- GERAL -- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

body{
    background-color: #323946;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

section{   
    min-height: 100vh;
    display: flex;
    align-items: center;    
}

/* -- GERAL -- */


/* -- HEADER -- */
header{
    margin-top: 20px ;
    font-weight: 700;
    font-family: "Orbitron", sans-serif;
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo .name{
    color: #ffffff;
    text-shadow: 0 0 1rem;
}

.cyan{
    color: #0ef;
}

.menu ul{
    display: flex;
    gap: 80px;
    font-size: 18px;
}

header ul li a{
    color: #ffffff;
}

.menu .home{
    color:#0ef;
}
/* -- HEADER -- */


/* -- HOME -- */
main{
    font-family: "Poppins", sans-serif;
}



.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.txt-top-site{
    width: 50%;
}

.txt{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.txt .career h2{
    color: #0ef;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .1rem;
    text-shadow: 0 0 .1rem;
    font-family: "Orbitron", sans-serif;
}

.txt h1{
    color: #fff;
    font-size: 3rem;
    
}

.txt p{
    color: #fff;
    letter-spacing: .1rem;
    line-height: 1.8rem;
    font-size: 1.2rem;
    
}
   

/* -- ICONES -- */
.icons{
    display: flex;
    padding-top: 10px;
    align-items: center;  
    gap: 1rem;  
}

.icons p{
    font-weight: bold;
    color: #fff;

}

.icons ul{
    display: flex;
    gap: 10px;
}

.icons ul li a{
    color: #0ef;
    font-size: 1.7rem;
    width: 80px;
    transition: 0.8s;
}

.icons ul li a:hover{
    opacity: 0.7;
}
/* -- ICONES -- */

.img-top-site img{
    width: 370px;
    border-radius: 50%;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* -- HOME -- */


/* -- ABOUT -- */

.img-about img{
    width: 400px;
    border-radius: 50%;
}



.txt-about{
    box-shadow: #0ef 0 0 1rem;
    border-radius: 10px;
    width: 50%;
    height: 400px;
    padding: 1rem 2rem; 
    letter-spacing: .1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
}

.txt-about h3{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
}

.txt-about h1{
    color: #0ef;
    font-size: 3rem;
}

.txt-about p{
    letter-spacing: .1rem;
    line-height: 1.8rem;
    font-size: 1.2rem;
}
.skills{
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.skills h1{
    color: #fff;
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
}

.skills ul{
    display: flex;
    gap: 2rem;
}

.skills ul li i{
    color: #0ef;
    font-size: 3rem;
    cursor: pointer;
    text-shadow: 0 0 .1rem;    
}